# IDE & System Related Files #
.buildpath
.project
.settings
.github
.env.example

**/.DS_Store
**/.idea
**/.git

# Dotenv
.env
.env.*
!.env.default

# Docker
.docker
docker-compose.*

# Gitpod
.gitpod
.gitpod.yml

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Data
data

# Themes
sites/**/theme/node_modules
sites/**/theme/css/*.map

# Composer
composer.json