.buildpath
.project
.settings
.DS_Store
.idea

# Docker
docker-compose.override.yml

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Volume
data/*

# Themes
sites/**/theme/node_modules
sites/**/theme/css/*.map

# Sites
sites/**
!sites/dashboard
!sites/dashboard/data
!sites/dashboard/pages
!sites/dashboard/templates
!sites/dashboard/theme