# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea

# Docker
docker-compose.override.yml

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Volume
volume/*
!volume/php.ini

# Themes
sites/**/theme/node_modules
sites/**/theme/css/*.map

# Sites
/sites/*
