#docker-compose.yml (Development)
version: "3.8"
services:
  web:
    image: joomlatools-server
    environment:
      - APP_NAME=jt-server
      - APP_ENV=development
      - APP_PRELOAD=off
      - APP_DEBUG=on
      - APP_CACHE=off
      - APP_HTTP=8080
      - APP_HTTPS=8443
    container_name: joomlatools-server
    restart: always
    build:
      context: .
      # Uncomment to deploy from Git
      #args:
      #  GIT_DEPLOY_URL:
      #  GIT_DEPLOY_BRANCH: master
    # Uncomment to override environment defaults
    #env_file:
    #  - .env
    volumes:
      - ./volume:/mnt/www
      - ./:/var/www
    ports:
      - "8080:8080"  # HTTP Apache
      - "8443:8443"  # HTTPS Apache
      - "8081:8081"  # HTTP Swoole - FastCGI
      - "8082:8082"  # HTTP Swoole - API
      - "8083:8083"  # HTTP Swoole - File
      - "3306:3306"    # MySQL
      - "33060:33060"  # MySQL - X Plugin

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "1025:1025" # smtp server
      - "8025:8025" # http server