#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
user             = mysql
pid-file         = /var/run/mysqld/mysqld.pid
socket           = /var/run/mysqld/mysqld.sock
port             = 3306
secure-file-priv = NULL
default-time-zone = SYSTEM

# Make sure Data Dictionary is cross platform
# https://dev.mysql.com/doc/refman/8.0/en/identifier-case-sensitivity.html
lower_case_table_names = 1

# Custom config should go here
!includedir /etc/mysql/conf.d/

# Performance optimisations
# http://www.tocker.ca/2014/03/10/configuring-mysql-to-use-minimal-memory.html
# https://www.woktron.com/secure/knowledgebase/272/How-to-optimize-MySQL-performance.html
performance_schema = OFF

key_buffer_size = 16M
tmp_table_size = 1M

read_buffer_size = 256K
read_rnd_buffer_size = 1M
net_buffer_length = 2K
sort_buffer_size = 256K
join_buffer_size = 1M

innodb_buffer_pool_size = 8M
innodb_log_buffer_size = 256k
innodb_sort_buffer_size = 125k

max_connections = 25
max_user_connections = 25

table_open_cache = 12
table_open_cache_instances = 1


[mysqldump]
quick
max_allowed_packet = 16M