#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
user             = mysql
pid-file         = /var/run/mysqld/mysqld.pid
socket           = /var/run/mysqld/mysqld.sock
port             = 3306
secure-file-priv = NULL
default-time-zone = SYSTEM

# Make sure Data Dictionary is cross platform
# https://dev.mysql.com/doc/refman/8.0/en/identifier-case-sensitivity.html
lower_case_table_names = 1

# Custom config should go here
!includedir /etc/mysql/conf.d/